$radial_nav_width: 400px;

.radial-nav {
  position: fixed;
  bottom: 0;
  // bottom: #{-$radial_nav_width * 0.3};
  left: calc(50% - #{$radial_nav_width / 2});
  display: block;
  width: $radial_nav_width;
  height: $radial_nav_width;
  border-radius: 100%;
  border: 1px solid;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60%;
    left: 0;
    background-color: red;
    z-index: 999;
  }
}

.radial-nav-item {
  position: absolute;
  top: 0;
  left: calc(50% - #{$radial_nav_width / 6});
  width: $radial_nav_width / 3;
  height: 50%;
  // display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: rotate(180deg);
  transform-origin: bottom center;
  transition: transform 0.3s ease;
  z-index: 1;
  display: none;
}

.radial-nav-item-prev-2 {
  transform: rotate(-144deg);
  z-index: 5;
  display: flex;
}

.radial-nav-item-prev-1 {
  transform: rotate(-72deg);
  z-index: 10;
  display: flex;
}

.radial-nav-item-next-2 {
  transform: rotate(144deg);
  z-index: 5;
  display: flex;
}

.radial-nav-item-next-1 {
  transform: rotate(72deg);
  z-index: 10;
  display: flex;
}

.radial-nav-item-active {
  transform: rotate(0deg);
  z-index: 40;
  display: flex;
}

.radial-nav-btn-prev {
  // @extend .radial-nav-item;
  // @extend .radial-nav-item-prev-1;

  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 20;
  background-color: rgba(#000, 0.5);
}

.radial-nav-btn-next {
  // @extend .radial-nav-item;
  // @extend .radial-nav-item-next-1;

  cursor: pointer;
  position: absolute;
  top: 30%;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 20;
  background-color: rgba(#000, 0.5);
}